.action {
    margin: 30px 50px 0 50px;
    font-family: 'Alkatra', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}

.noTitle {
    display: none;
}

.craneBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.crane {
    width: 100px;
    height: 100px;
}

.craneBlock2 {
    display: none
}