.navBlock {
    font-family: 'Alkatra', sans-serif;
    width: 50%;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}

.branches {
    display: flex;
    justify-content: space-around;
}

.branche1 {
    width: 50%;
    margin-right: 30px;
}

.branche_button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.arrowL {
    width: 30px;
    height: 30px;
}

.arrowR {
    width: 30px;
    height: 30px;
}